# app
DEBUG=True
TITLE="Task Tracker"
SUMMARY=""
DESCRIPTION=""
VERSION="0.1.0"
DOCS_URL="/docs"
REDOC_URL="/redoc"


# database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=name
DB_USER=postgres
DB_PASS=postgres


# jwt
SECRET_KEY = "SECRET-KEY"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 15
